@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

body {
   background-color: white;
}

.body {
    display: grid;
    grid-template-rows: 1fr 1fr;
    margin: auto;
    font-family: 'Roboto', sans-serif;
}

.overview {
    background-image: linear-gradient(rgb(103, 67, 255), rgb(51, 45, 233));
    border-radius: 0 0 2rem 2rem;
    height: 370px;
    color: white; 
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.overview h2 {
    text-align: center;
    font-weight: 400;
    font-size: 1rem;
    margin: 1rem;
    opacity: 70%;
}

.overview .overview_score {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin: .5rem;
    padding: 1rem;
    background-image: linear-gradient(rgb(75, 36, 205), rgb(51, 45, 233));
    height: 110px;
    width: 110px;
    border-radius: 50%;
}

.overview .overview_score .number {
    font-weight: 700;
    font-size: 3rem;
}

.overview .overview_score .number_under {
    padding-top: .4rem;
    padding-bottom: 0;
    margin: 0;
    opacity: 40%;
}

.overview h1 {
    font-weight: 500;
    font-size: 1.5rem;
    text-align: center;
    margin: .5rem;
}

.overview p {
    font-size: 1rem;
    opacity: 70%;
    text-align: center;
    width: 70%;
    line-height: 1.3rem;
}

.score {
    margin: 1rem;
    padding: .5rem;
}

.score h2 {
    font-size: 1.2rem;
    font-weight: 500; 
}

.score .score_reaction {
    margin: 1rem 0 1rem 0;
    display: grid;
    grid-template-columns: .3fr 2fr 1fr;
    background-color: rgba(229, 115, 123, 0.15);
    padding: 1rem;
    border-radius: 1rem;
}

.score .score_reaction_reaction {
    color: rgb(229, 115, 123);
}

.score .score_reaction_number {
    text-align: end;
    font-weight: 600;
}

.score .score_memory {
    margin: 1rem 0 1rem 0;
    display: grid;
    grid-template-columns: .3fr 2fr 1fr;
    background-color: rgba(247, 201, 99, 0.15);
    padding: 1rem;
    border-radius: 1rem;
}

.score .score_memory_memory {
    color: rgb(247, 201, 99);
}

.score .score_memory_number {
    text-align: end;
    font-weight: 600;
}

.score .score_verbal {
    margin: 1rem 0 1rem 0;
    display: grid;
    grid-template-columns: .3fr 2fr 1fr;
    background-color: rgba(66, 179, 150, 0.15);
    padding: 1rem;
    border-radius: 1rem;
}

.score .score_verbal_verbal {
    color:rgb(66, 179, 150);
}

.score .score_verbal_number {
    text-align: end;
    font-weight: 600;
}

.score .score_visual {
    margin: 1rem 0 1rem 0;
    display: grid;
    grid-template-columns: .3fr 2fr 1fr;
    background-color:rgba(60, 73, 195, 0.15);
    padding: 1rem;
    border-radius: 1rem;
}

.score .score_visual_visual {
    color:rgb(60, 73, 195);
}

.score .score_visual_number {
    text-align: end;
    font-weight: 600;
}

.score .numbers {
    opacity: 50%;
}

.button {  
    width: 80%;
    position: absolute;
    padding: 1rem;
    background-color: rgb(48, 59, 89);
    color: white;
    font-size: large;
    font-weight: 700;
    margin: 0 1.5rem 0 1.5rem;
    border-radius: 2rem;
}

.button:hover {
    background-color: rgb(75, 36, 205);
}

.attribution {
    font-size: x-small;
    text-align: center;
    margin: 2rem;
}

@media screen and (min-width: 769px) {
    .body {
        display: grid;
        grid-template-columns: 1fr 1fr;
        width: 600px;
        height: 450px;
        margin-top: 16rem;
        filter: drop-shadow(rgb(116, 125, 147));

    }

    .overview {
        height: 390px;
        border-radius: 2rem;
    }

    .button{
       width: 200px; 
    }
    
    .score .score_reaction {
        display: grid;
        grid-template-columns: .4fr 2fr 1fr;
    }

    .score .score_memory{
        display: grid;
        grid-template-columns: .4fr 2fr 1fr;
    }

    .score .score_verbal {
        display: grid;
        grid-template-columns: .4fr 2fr 1fr;
    }

    .score .score_visual {
        display: grid;
        grid-template-columns: .4fr 2fr 1fr;
    }
}